<form>
  <div>
    <label>
      Age:
      {{input type='text' value=age}}
    </label>
    <div>
      <span>parsedAge errors: {{errors.parsedAge}}</span>
    </div>
  </div>

  <div>
    <label>
      Name:
      {{input type='text' value=name}}
    </label>
    <div>
      <span>Name errors: {{errors.name}}</span>
    </div>
  </div>
</form>
